.calculator  {
    background-color: rgb(148, 222, 235);
    border: 1px solid black;
    width: 300px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px ; 
   font-size: 61px;
    
}